<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevBook - Cadastro de Usuários</title>

    <link rel="stylesheet" type="text/css" href="/assets/css/cadastro.css">
</head>

<body>
    <div class="container-login">
        <div>
            <form class="devbook-form" id="formulario-cadastro">
                <span>Crie a sua conta agora mesmo!</span>
                <div>
                    <input type="text" name="nome" id="nome" placeholder="Digite o seu nome" required="required">
                </div>
                <div>
                    <input type="text" name="email" id="email" placeholder="Digite o seu e-mail" required="required">
                </div>
                <div>
                    <input type="text" name="nick" id="nick" placeholder="Digite o seu nick" required="required">
                </div>
                <div>
                    <input type="password" name="senha" id="senha" placeholder="Digite a sua senha" required="required">
                </div>
                <div>
                    <input type="password" name="confirmar-senha" id="confirmar-senha"
                        placeholder="Confirme a sua senha" required="required">
                </div>
                <button type="submit" class="btn-devbook">Cadastrar</button><br />
                Já tem uma conta? <a href="/login" class="devbook-text-new-account">Faça login </a>
            </form>
        </div>
    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/cadastro.js"></script>
</body>

</html>